git+https://github.com/LuCeHe/GenericTools
aiohttp
astunparse
async_timeout
absl-py
py-cpuinfo
colorama
codecarbon
cycler
datasets
decorator
dm-tree
docopt
dill
flatbuffers
filelock==3.0.12
gast
google-api-python-client
h5py
huggingface-hub
idna_ssl
imageio==2.9.0
imagesize
kiwisolver
jsonpickle
matplotlib
munch
multiprocess
multidict
nltk
opt-einsum
Pillow
pydot
pytz
pandas
packaging
python-dateutil
regex
sacred
sacremoses
sentencepiece
scikit-image
scikit-learn
scipy
six
tqdm
transformers
typeguard
tensorflow==2.5.0
tokenizers
tensorflow-probability==0.11.0
tensorflow_addons
tensorlayer
termcolor
typing_extensions
tree
progressbar2
xxhash
yarl
wrapt
scipy
tables
numpy
cloudpickle==1.3.0
numexpr