git+https://github.com/LuCeHe/pyaromatics
aiohttp
astunparse
async_timeout
absl-py
py-cpuinfo
colorama
codecarbon
cycler
datasets
decorator
dm-tree
docopt
dill
flatbuffers
filelock==3.0.12
gast
h5py
idna_ssl
imageio
imagesize
kiwisolver
jsonpickle
matplotlib
munch
multiprocess
multidict
nltk
opt-einsum
Pillow
pydot
pytz
pandas
packaging
python-dateutil
regex
sacred
sacremoses
sentencepiece
scikit-image
scikit-learn
scipy
six
tqdm
typeguard
tensorflow==2.10.0
tensorflow-probability==0.23.0
tensorflow-text==2.10.0
tensorflow-datasets
tensorflow-addons
tensorlayer
termcolor
typing_extensions
tree
progressbar2
xxhash
yarl
wrapt
scipy
tables
numpy
cloudpickle==1.3.0
numexpr
GPUtil